<!DOCKTYPE html>
<html>
<head>
<meta charset="utf­8">
<h1 align="center"><em>Registration page</em></h1>
</head>
<marquee color="red" height="5%"  ><font color="red">Enter all correct data.....</font></marquee>
<body style="background-color:lightgrey;">

<style>
table{
    border: "2" 
}
th{
  width:50%
}
table{
   margin-top: 5%
}

</style>
<form action="base.html" method="POST">
<table  align="center" border="2">

<tr>
<th>Name: </th><th><input type="text" name="name" ></th>
</tr>
<tr>
<th>Username: </th><th><input type="text" name="username"></th>
</tr>
<tr>
<th>Password:</th><th><input type="password" name="password"></th>
</tr>
<tr>
<th>Email:</th><th><input type="text" name="email"></th>
</tr>
<tr>
<th>Address:</th><th><textarea name="address"></textarea></th>
</tr>
<tr>
<th>Date Of Birth: </th><th><input type="date" name="dob"></th>
</tr>
</table>
</body>
</form>
</html