<!DOCKTYPE html>
<html>
<head><title>Registration</title></head>
<body>
<style>
table,th,tr{
    border: 1px solid
}
th{
  width:50%
}
table{
   margin-top: 20px
}
h2{
  margin-top: 240px;
  color: red
}
</style>
<h2 align="center">Register Your Self</h2>
<table align="center">
<form action="/Home/base/" method="POST">
<tr>
<th>Name: </th><th><input type="text" name="name" ></th>
</tr>
<tr>
<th>Username: </th><th><input type="text" name="username"></th>
</tr>
<tr>
<th>Password:</th><th><input type="password" name="password"></th>
</tr>
<tr>
<th>Email:</th><th><input type="text" name="email"></th>
</tr>
<tr>
<th>Address:</th><th><textarea name="address"></textarea></th>
</tr>
<tr>
<th>Date Of Birth: </th><th><input type="date" name="dob" id="dob"></th>
</tr>
<tr><th><input type="submit"></th><th><input type="reset"></th></tr>
</table>
</form>
</body>
</html>