<!DOCTYPE html> 
<html>
   <head><title>Add Product</title></head>
   <body>
       <form action=''method='post'>
          <table>
             <tr><th>Enter Product Category</th><th><input type='text' name='Category' style="width: 100%;"></th></tr>
             <tr><th>Enter Product Name</th><th><input type='text' name='product' style="width: 100%;"></th></tr>
             <tr><th>Enter Product Description</th><th><textarea name='Description' style="width: 100%;"></textarea></th></tr>
             <tr><th>Enter Product Price</th><th><input type='number' name='Price' style="width: 100%;"></th></tr>
             <tr><th colspan='2'><input type='submit' value='Submit'></th></tr>
          </table>
       </form>
   </body>
</html>